<div class="overflow-auto p-5  " xmlns:th="http://www.thymeleaf.org">
    <div class="p-3 rgba-white-strong border">
        <table class="table table-bordered table-hover">
            <p>每页展示
                <select id="selectSize">
                    <option selected>10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="50">50</option>
                    <option value="3">3</option>
                </select>
                条数据
            </p>
            <thead>
            <tr>
                <th scope="col">pid</th>
                <th scope="col">学生姓名</th>
                <th scope="col">老师姓名</th>
                <th scope="col">学生专业</th>
                <th scope="col">问题类型</th>
                <th scope="col">问题题目</th>
                <th scope="col">解决状态</th>
            </tr>
            </thead>

            <div>
                <tbody>
                <tr th:each="problem:${problemDetailListObj}">
                    <!--                <td  th:each="col:${problem}" th:text="${col}"></td>-->
                    <td th:text="${problem[0]}"></td>
                    <td th:text="${problem[11]}"></td>
                    <td th:text="${problem[7]}"></td>
                    <td th:text="${problem[14]}"></td>
                    <td th:text="${problem[3]}"></td>
                    <td th:text="${problem[6]}"></td>
<!--                    <td th:text="${problem[4]}"></td>-->

                    <td><i class="fas fa-hand-paper yellow-text"></i>处理中</td>
                </tr>
                </tbody>
            </div>
        </table>


    </div>
</div>
<!--<div class="col-9 p-2 overflow-auto" xmlns:th="http://www.thymeleaf.org">-->
<!--    <table class="table table-bordered table-hover">-->
<!--        <p>每页展示-->
<!--            <select id="selectSize">-->
<!--                <option selected>10</option>-->
<!--                <option value="20">20</option>-->
<!--                <option value="30">30</option>-->
<!--                <option value="50">50</option>-->
<!--                <option value="3">3</option>-->
<!--            </select>-->
<!--            条数据-->
<!--        </p>-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th scope="col">pid</th>-->
<!--            <th scope="col">学生姓名</th>-->
<!--            <th scope="col">老师姓名</th>-->
<!--            <th scope="col">学生专业</th>-->
<!--            <th scope="col">问题类型</th>-->
<!--            <th scope="col">问题题目</th>-->
<!--            <th scope="col">解决状态</th>-->
<!--        </tr>-->
<!--        </thead>-->

<!--        <div>-->
<!--            <tbody>-->
<!--            <tr th:each="problem:${problemDetailListObj}">-->
<!--                &lt;!&ndash;                <td  th:each="col:${problem}" th:text="${col}"></td>&ndash;&gt;-->
<!--                <td th:text="${problem[0]}"></td>-->
<!--                <td th:text="${problem[11]}"></td>-->
<!--                <td th:text="${problem[7]}"></td>-->
<!--                <td th:text="${problem[14]}"></td>-->
<!--                <td th:text="${problem[3]}"></td>-->
<!--                <td th:text="${problem[6]}"></td>-->
<!--                <td th:text="${problem[4]}"></td>-->

<!--            </tr>-->
<!--            </tbody>-->
<!--        </div>-->
<!--    </table>-->


<!--</div>-->