<!-- Footer -->
<footer id="footer" class="page-footer font-small blue">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase">联系我们</h5>
                <p>电话：023-787878</p>
                <p>地址：南岸区学府大道66号</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">校内连接</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="http://www.cqjtu.edu.cn/">重庆交通大学</a>
                    </li>
                    <li>
                        <a href="http://sise.cqjtu.edu.cn/">重庆交通大学信息学院</a>
                    </li>
                    <li>
                        <a href="http://zsjy.cqjtu.edu.cn/jyw/Default.aspx">重庆交通大学就业信息网</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">校外连接</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="https://cy.ncss.org.cn/">全国大学生创业服务网</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

<!--    &lt;!&ndash; Copyright &ndash;&gt;-->
<!--    <div class="footer-copyright text-center py-3">© 2020 Copyright:-->
<!--        <a href="https://mdbootstrap.com/"> cqjtu.org</a>-->
<!--    </div>-->
<!--    &lt;!&ndash; Copyright &ndash;&gt;-->

</footer>
<!-- Footer -->