<!-- Footer -->
<footer th:fragment="footer" class="overflow-auto page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://mdbootstrap.com/"> cqjtu.org</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
<script>
    // window.onload=function (ev) {
    //     var footerHeight=$("footer").height();
    //     $("footer").css({
    //         "margin-top":"-"+footerHeight+"px"
    //     });
    // };
</script>