<header class="sticky-top white" th:fragment="header">
    <!--Navbar-->
    <nav class="navbar navbar-expand navbar-dark primary-color ">

        <!-- Navbar brand -->

        <a class="navbar-brand col-9" href="#">就业分中心管理系统</a>

        <!-- Collapsible content -->
        <!-- Links -->

        <div class="col-3 ">
            <ul class="navbar-nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="/login.html">退出系统👉</a>
                </li>
            </ul>
        </div>

        <!-- Links -->
        <!-- Collapsible content -->

    </nav>
    <!--/.Navbar-->
</header>

