<div style=" width: 100% ;height: 130px;background-color:#4285f4;padding-top: 20px;">
    <div style=" width:900px;margin: 0 auto;">
        <div style="width: 600px ;float: left;">
            <label>友情链接</label>
            <p>
                <a style="color: black;margin-left: 20px;" target="_blank" href="http://www.cqjtu.edu.cn">重庆交通大学</a>
                <a style="color: black;margin-left: 20px;" target="_blank" href="https://cy.ncss.org.cn/">全国大学生创业服务网</a>
            </p>
            <p>
                <a style="color: black;margin-left: 20px;" target="_blank" href="http://sise.cqjtu.edu.cn/">重庆交通大学信息学院</a>
                <a style="color: black;margin-left: 20px;" target="_blank" href="http://zsjy.cqjtu.edu.cn/jyw/Default.aspx">重庆交通大学就业信息网</a>
            </p>
        </div>
        <div style="width: 200px;float:right;border-left: 2px solid black;padding-left: 20px;">
            <label>联系我们</label>
            <p>电话：023-787878</p>
            <p>地址：南岸区学府大道66号</p>
        </div>
    </div>
    <div></div>
</div>