<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="indexTemplates/head">
</head>
<body>
<!-- header-section-starts -->
<div class="container">
    <div class="news-paper">
        <div th:replace="indexTemplates/nav"></div>
        <!-------------------------------正文开始-------------------------------------->

        <!-------------------------------正文结束-------------------------------------->
        <div th:replace="indexTemplates/footer"></div>
    </div>
</div>
</body>
</html>