<!--二级导航-->
<div style="display: inline;float: left;height: 100%;">
    <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="demo"
        style="margin-right: 10px;">
        <li class="layui-nav-item"><a href="/infopage?quality=招聘">招聘信息</a></li>
        <li class="layui-nav-item"><a href="/infopage?quality=实习">实习信息</a></li>
        <li class="layui-nav-item"><a href="/infopage?quality=宣讲">宣讲会/双选会</a></li>
        <li class="layui-nav-item"><a href="/entrepInfoPage">创业资讯</a></li>
        <li class="layui-nav-item"><a href="/entrepPolicyPage">创业政策</a></li>
        <li class="layui-nav-item"><a href="/projectlist">寻找项目</a></li>
    </ul>
</div>
<!--二级导航结束-->