<link rel="stylesheet" href="ldy/summernote/summernote.css">
<textarea  id="summernote" name="survey" ></textarea>
<script>
    $(function () {
        $('#summernote').summernote({
            height: 200,
            toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'underline', 'clear']],
                ['fontname', ['fontname']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['table', ['table']],
                ['insert', ['link', 'picture']],
                ['view', ['fullscreen', 'codeview', 'help']]
            ]
        });
    })
</script>
<script src="ldy/summernote/summernote.js"></script>