<!--        左侧功能栏，显示可进行的操作-->
<div class="col-3 text-center border p-0 float-left" id="sidebar" th:fragment="teacherMenu"
     xmlns:th="http://www.thymeleaf.org">
    <img src="https://i.loli.net/2020/04/17/7TNJW6uEsn1tdja.png"
         class="img-fluid" alt="Responsive image" width="100%">
    <span th:text="${session.teacher.name}">王佳伟</span>
    <br>
    <span th:text="${session.teacher.tel}">tel</span>
    <p>指导教师</p>

    <table class="table table-hover ">

        <tbody>
        <tr>
            <td>个人信息设置</td>
        </tr>
        <tr>
            <td><a href="/defaultTeacherAllProblem.html">问题查看</a></td>
        </tr>
<!--        <tr>-->
<!--            <td>&lt;!&ndash; Collapse buttons &ndash;&gt;-->
<!--                <div>-->
<!--                    <a class="dropdown-toggle " data-toggle="collapse"-->
<!--                       data-target="#collapseProblem"-->
<!--                       aria-expanded="false" aria-controls="collapseProblem">-->
<!--                        问题查看-->
<!--                    </a>-->
<!--                </div>-->
<!--                &lt;!&ndash; / Collapse buttons &ndash;&gt;-->

<!--                &lt;!&ndash; Collapsible element &ndash;&gt;-->
<!--                <div class="collapse" id="collapseProblem">-->
<!--                    <div class="mt-3">-->
<!--                        <a class="dropdown-item" href="/teacherSolvedProblem.html">查看已解决问题</a>-->
<!--                        <a class="dropdown-item" href="/teacherUnsolvedProblem.html">查看未解决问题</a>-->
<!--                        <hr>-->
<!--                        <a class="dropdown-item" href="/defaultTeacherAllProblem.html">查看所有问题</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; / Collapsible element &ndash;&gt;-->
<!--            </td>-->

<!--        </tr>-->
        <tr>
            <td><a  onclick="teacherExportProblem()"  class="hoverPrompt " data-content="数据可导出后在excel中二次处理">数据导出</a></td>
        </tr>

<!--        <tr>-->
<!--            <td>&lt;!&ndash;数据导出按钮&ndash;&gt;-->
<!--                <div>-->
<!--                    <a class="dropdown-toggle " data-toggle="collapse"-->
<!--                       data-target="#exportDataBtn"-->
<!--                       aria-expanded="false" aria-controls="exportDataBtn">-->
<!--                        数据导出-->
<!--                    </a>-->
<!--                </div>-->
<!--                &lt;!&ndash; / Collapse buttons &ndash;&gt;-->

<!--                &lt;!&ndash; Collapsible element &ndash;&gt;-->
<!--                <div class="collapse" id="exportDataBtn">-->
<!--                    <div class="mt-3">-->
<!--                        <a class="dropdown-item" href="/teacherSolvedProblem.html">已解决问题</a>-->
<!--                        <a class="dropdown-item" href="/teacherUnsolvedProblem.html">未解决问题</a>-->
<!--                        <hr>-->
<!--                        <button class="dropdown-item" onclick="teacherExportProblem()">已分配问题</button>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; / Collapsible element &ndash;&gt;-->
<!--            </td>-->
<!--        </tr>-->
        </tbody>
    </table>
</div>

<form style="display: none;" method="post" action="/teacherExportAllProblem" id="teacherExportAllProblemForm">
    <p>教师导出数据的表单</p>
</form>

<script xmlns:th="http://www.thymeleaf.org" th:replace="thCommon/thFixedSidebar">
</script>

<script>
    function teacherExportProblem() {
        document.getElementById("teacherExportAllProblemForm").submit();
    }
</script>