<!--        左侧功能栏，显示可进行的操作-->
<div id="sidebar" class="col-3 text-center border p-0 float-left " th:fragment="teacherMenu"
     xmlns:th="http://www.thymeleaf.org">
    <img width="100%" src="https://i.loli.net/2020/04/17/fqKuJicTV4SM7Gk.png"
         class="img-fluid" alt="Responsive image">
    <p th:text="${session.student.name}">学生姓名</p>
    <p th:text="${session.student.tel}">13333333333</p>
    <p th:text="${session.student.major}">I am a student！</p>

    <table class="table table-hover ">

        <tbody>
        <tr>
            <td>个人信息设置</td>
        </tr>
        <tr>
            <td><a href="/studentPutQuesionts">发起提问</a></td>
        </tr>
        <!--        <tr>-->
        <!--            &lt;!&ndash;                    <th scope="row">3</th>&ndash;&gt;-->
        <!--            <td colspan="2"><a href="teacherExportData.html">数据导出</a></td>-->
        <!--        </tr>-->
        <tr>
            <td><a href="/StudentViewQuestions">我的问题</a></td>
        </tr>
        </tbody>
    </table>
</div>

<script xmlns:th="http://www.thymeleaf.org" th:replace="thCommon/thFixedSidebar">
</script>

