html, body {
    /*height: 100%;*/
}

body{
    /*background-image: url("https://i.loli.net/2020/06/03/4fsMT9EBxYZ7LVh.jpg");*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

.kerman-content {
    /*min-height: 100%;*/
}

.hoverPrompt{
}

.room-cell {
    display: inline-block;//这样写有好处就是，span后面不会出现消不掉的margin-xxx填充，以前是这样的display:block;
    table-layout: fixed;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*!*用于td中字符太长的截断    参考  https://blog.csdn.net/tuntun1120/article/details/72903387  *!*/
/*td {*/
/*    white-space:nowrap;overflow:hidden;text-overflow: ellipsis;*/
/*}*/

.ldyHide{
    display: none;
}