<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="thCommon/thHead::head"></head>
<body>
<div class="kerman-content">
    <header th:replace="thCommon/thHeader"></header>
    <div class="col-3" th:replace="thAdminTemplates/thAdminMenu">adminMenu</div>
    <!--        右侧展示栏，展示具体的内容,根据业务所需更换不同的模板即可-->
    <div th:replace="thAdminTemplates/thAdminShowTeacherList">adminShowTeacherList</div>
</div>
<footer th:replace="thCommon/thFooter"></footer><!-- End your project here-->
<script th:replace="thCommon/thJavascriptLink"></script>
</body>
</html>