<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="indexTemplates/head"></head>
<title>创业讯息</title>
<body>
<!-- header-section-starts -->
<div class="container">
    <div class="news-paper">
        <div th:replace="indexTemplates/nav"></div>
        <!-------------------------------正文开始-------------------------------------->
        <div th:replace="indexTemplates/secondnav"></div>
        <div style="display: inline;">
            <!--列表-->
            <div>
                <table class="layui-table" lay-skin="line" style="width: 800px;">
                    <colgroup>
                        <col width="600px">
                        <col width="200px">
                    </colgroup>
                    <tbody th:each="entrep:${entreps}">
                    <tr>
                        <td><a target="_blank" th:href="@{/entrepInfo(id=${entrep.id})}" th:text="${entrep.title}"></a></td>
                        <td th:text="${entrep.publishTime}">2020-06-09</td>
                    </tr>
                    </tbody>
                </table>
                <div id="demo2" style="margin-left: 210px"></div>
            </div>
        </div>
        <script th:inline="javascript">
            layui.use(['laypage'], function () {
                var laypage = layui.laypage;
                //自定义样式
                laypage.render({
                    elem: 'demo2',
                    theme: '#1E9FFF',
                    count: /*[[${count}]]*/2000,
                    curr: /*[[${curr}]]*/1,
                    limit: 10,
                    groups: 10,
                    jump: function (obj, first) {
                        //首次不执行
                        if (!first) {
                            location.href ="?pageIdx=" + obj.curr;
                        }
                    }
                });
            });
        </script>
        <!-------------------------------正文结束-------------------------------------->
        <div th:replace="indexTemplates/footer"></div>
    </div>
</div>
</body>
</html>