<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="indexTemplates/head"></head>
<title>创业讯息</title>
<body>
<!-- header-section-starts -->
<div class="container">
    <div class="news-paper">
        <div th:replace="indexTemplates/nav"></div>
        <!-------------------------------正文开始-------------------------------------->

        <h2 th:text="${entrep.title}">重庆交通大学招聘</h2>
        <label th:text="${entrep.publishTime}">2020</label>
        <br>
        <hr>
        <br>
        <div id="detail">
        </div>
        <script th:inline="javascript">
            var detail =/*[[${entrep.detail}]]*/2000;
            document.getElementById("detail").innerHTML = detail;
        </script>
        <!-------------------------------正文结束-------------------------------------->
        <div th:replace="indexTemplates/footer"></div>
    </div>
</div>
</body>
</html>

