<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="indexTemplates/head"></head>
<title>就业创业咨询指导平台</title>
<body>
<!-- header-section-starts -->
<div class="container">
    <div class="news-paper">
        <div th:replace="indexTemplates/nav"></div>
        <!-- --------------------------------------------------------页头结束-------------------------------------------------- -->
        <style>
            .my-item {
                width: 100%
            }

            .my-title {
                display: inline-block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                height: 25px;
                width: 75%;
                padding-left: 5px;
            }
            .my-date {
                width: 20%;
                word-break: keep-all;
                float: right;
                white-space: nowrap;
            }
        </style>
        <div class="main-content">
            <div class="col-md-9 total-news">
                <div class="slider">
                    <script>
                        // You can also use "$(window).load(function() {"
                        $(function () {
                            $("#conference-slider").responsiveSlides({
                                auto: true,
                                manualControls: '#slider3-pager',
                            });
                        });
                    </script>
                    <div class="layui-carousel" id="silder">
                        <div carousel-item>
                            <div><img src="https://i.loli.net/2020/06/03/DEyjsgoImSRbcWk.png"></div>
                            <div><img src="https://i.loli.net/2020/06/03/j5sULFu1bKorPwB.png"></div>
                            <div><img src="https://i.loli.net/2020/06/03/RKGvjpcMENr5LPZ.png"></div>
                            <div><img src="https://i.loli.net/2020/06/03/roIEu28OzKt3aPf.png"></div>
                        </div>
                    </div>




                    <!-- 条目中可以是任意内容，如：<img src=""> -->
                    <script src="/static/build/layui.js"></script>
                    <script>
                        layui.use('carousel', function () {
                            var carousel = layui.carousel;
                            //建造实例
                            carousel.render({
                                elem: '#silder'
                                , width: '100%' //设置容器宽度
                                , arrow: 'always' //始终显示箭头
                                //,anim: 'updown' //切换动画方式
                            });
                        });
                    </script>
                </div>
                <div class="world-news">
                    <div class="main-title-head">
                        <h3>招聘</h3>
                        <a href="infopage">More +</a>
                        <div class="clearfix"></div>
                    </div>
                    <div class="my-item" th:each="rec:${recInfoHome}">
                        <div class="my-title">
                            <a target="_blank" th:href="@{/recInfo(recid=${rec.id})}"
                               th:text="${rec.title}">阿里</a>
                        </div>
                        <div class="my-date" th:text="${rec.publishTime}">
                            2010-06-07 21:30:20
                        </div>
                    </div>
                </div>
                <div class="world-news">
                    <div class="main-title-head">
                        <h3>实习</h3>
                        <a href="infopage">More +</a>
                        <div class="clearfix"></div>
                    </div>
                    <div class="my-item" th:each="inter:${interInfoHome}">
                        <div class="my-title" >
                            <a target="_blank" th:href="@{/recInfo(recid=${inter.id})}"
                               th:text="${inter.title}">阿里</a>
                        </div>
                        <div class="my-date" th:text="${inter.publishTime}">
                            2010-06-07 21:30:20
                        </div>
                    </div>
                </div>
                <div class="world-news">
                    <div class="main-title-head">
                        <h3>宣讲会/双选会</h3>
                        <a href="infopage">More +</a>
                        <div class="clearfix"></div>
                    </div>
                    <div class="my-item" th:each="rec:${preachInfoHome}">
                        <div class="my-title">
                            <a target="_blank" th:href="@{/recInfo(recid=${rec.id})}"
                               th:text="${rec.title}">阿里</a>
                        </div>
                        <div class="my-date" th:text="${rec.publishTime}">
                            2010-06-07 21:30:20
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3 side-bar">
                <div class="sign_up text-center">
                    <div id="calendar">
                        <div class="cal-header" id="cal-header">
                            <i id="prev" class="layui-icon layui-icon-prev" style="cursor: pointer"></i>
                            <label id="caleyear" style="margin-left: 20px;">2020</label>
                            <label>年</label>
                            <label id="calemonth">10</label>
                            <label>月</label>
                            <i id="next" class="layui-icon layui-icon-next"
                               style="float: right;margin-top: 5px;margin-right:10px;cursor: pointer"></i>

                        </div>
                        <table border="1" align="center" class="cal-body"
                               style="height: 200px; width: 95%;text-align:center">
                            <tr>
                                <th>一</th>
                                <th>二</th>
                                <th>三</th>
                                <th>四</th>
                                <th>五</th>
                                <th>六</th>
                                <th>日</th>
                            </tr>
                            <tr style="height: 15%">
                                <td id="1"></td>
                                <td id="2"></td>
                                <td id="3"></td>
                                <td id="4"></td>
                                <td id="5"></td>
                                <td id="6"></td>
                                <td id="7"></td>
                            </tr>
                            <tr style="height: 15%">
                                <td id="8"></td>
                                <td id="9"></td>
                                <td id="10"></td>
                                <td id="11"></td>
                                <td id="12"></td>
                                <td id="13"></td>
                                <td id="14"></td>
                            </tr>
                            <tr style="height: 15%">
                                <td id="15"></td>
                                <td id="16"></td>
                                <td id="17"></td>
                                <td id="18"></td>
                                <td id="19"></td>
                                <td id="20"></td>
                                <td id="21"></td>
                            </tr>
                            <tr style="height: 15%">
                                <td id="22"></td>
                                <td id="23"></td>
                                <td id="24"></td>
                                <td id="25"></td>
                                <td id="26"></td>
                                <td id="27"></td>
                                <td id="28"></td>
                            </tr>
                            <tr style="height: 15%">
                                <td id="29"></td>
                                <td id="30"></td>
                                <td id="31"></td>
                                <td id="32"></td>
                                <td id="33"></td>
                                <td id="34"></td>
                                <td id="35"></td>
                            </tr>
                            <tr style="height: 15%">
                                <td id="36"></td>
                                <td id="37"></td>
                                <td id="38"></td>
                                <td id="39"></td>
                                <td id="40"></td>
                                <td id="41"></td>
                                <td id="42"></td>
                            </tr>
                        </table>
                        <script th:inline="javascript">

                            window.onload = function () {
                                /**
                                 * 返回当月天数
                                 */
                                function daysasmonth(asyear, asmonth) {
                                    if (asmonth == 1 || asmonth == 3 || asmonth == 5 || asmonth == 7 || asmonth == 8 || asmonth == 10 || asmonth == 12) {
                                        return 31;
                                    }
                                    else if (asmonth == 4 || asmonth == 6 || asmonth == 9 || asmonth == 11) {
                                        return 30;
                                    }
                                    else if (asyear % 4 != 0) {
                                        return 28;
                                    }
                                    else if (asyear % 400 == 0) {
                                        return 29;
                                    } else if (asyear % 100 == 0) {
                                        return 28;
                                    } else {
                                        return 29;
                                    }
                                }
                                var year =/*[[${year}]]*/2000;
                                var month =/*[[${month}]]*/1;
                                var date =/*[[${date}]]*/1;
                                var week = [7, 1, 2, 3, 4, 5, 6];
                                document.getElementById("caleyear").innerHTML = year;
                                document.getElementById("calemonth").innerHTML = month;
                                console.log("" + year + month + date);
                                var dayone = new Date(year, month - 1, 1).getDay();
                                var dayone2 = week[dayone];
                                console.log("dayone2" + dayone2);
                                var dayCalendar = 1;
                                for (var c = dayone2; c <= daysasmonth(year, month) + dayone2 - 1; c++) {
                                    var t = document.getElementById(c);
                                    if (c - dayone2 + 1 == date) {
                                        console.log(c);
                                        t.style.backgroundColor = "aquamarine";
                                    }
                                    t.innerHTML = dayCalendar;
                                    dayCalendar++;
                                }
                            }
                        </script>
                    </div>
                </div>
                <div class="popular">
                    <div class="main-title-head">
                        <h5>最新发布</h5>
                        <div class="clearfix"></div>
                    </div>
                    <div class="popular-news" th:each="recmd:${recommend}">
                        <div class="popular-grid">
                            <i th:text="${recmd.publishTime}">Sept 24th 2011 </i>
                            <br>
                            <a th:text="${recmd.title}" th:href="@{/recInfo(recid=${recmd.id})}">Lorem ipsum dolor sit amet conse ctetur adipiscing elit</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!--------------------------------------------------------- 页脚 -------------------------------------------------------->
        <div th:replace="indexTemplates/footer"></div>
    </div>
</div>
</body>
</html>