<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="indexTemplates/head"></head>
<title>私信</title>
<body>
<!-- header-section-starts -->
<div class="container">
    <div class="news-paper">
        <div th:replace="indexTemplates/nav"></div>
        <!-------------------------------正文开始-------------------------------------->
        <div style="width:1000px;margin:50px auto">
            <h3 th:text="${mess.senderName}">其德隆东墙</h3>
            <h4 th:text="${mess.time}">2020-02-04</h4>
            <br>
            <pre th:text="${mess.content}" style="font-size: 15px"> Error resolving template [200]</pre>
            <br>
            <form action="/reply" method="post">
                <textarea name="replytext" placeholder="回复" class="layui-textarea"></textarea>
                <input name="messid" type="hidden" th:value="${mess.id}">
                <br>
                <button type="submit" id="commentsub" class="layui-btn">回复</button>
            </form>
        </div>
        <!-------------------------------正文结束-------------------------------------->
        <div th:replace="indexTemplates/footer"></div>
    </div>
</div>
</body>
</html>