<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="indexTemplates/head"></head>
<title>创业项目</title>
<body>
<!-- header-section-starts -->
<div class="container">
    <div class="news-paper">
        <div th:replace="indexTemplates/nav"></div>
        <!-------------------------------正文开始-------------------------------------->
        <style>
            .block {
                box-shadow: rgb(235, 232, 232) 10px 1px 30px;
                /* background: #FFF; */
                padding: 40px;
                margin: 20px 0;
            }
        </style>
        <h3 th:text="${project.pName}">就业创业咨询指导平台</h3>
        <label th:text="${project.publishTime}">2020-03-04</label><br>
        <div th:class="${session.teacher}!=null or ${session.admin}!=null ? 'ldyHide' : ''">
            <button id="colecbtn" style="display: inline" type="button"
                    class="layui-btn layui-btn-primary layui-btn-sm"><i class="layui-icon"></i></button>
            <button type="button" style="display: inline" id="messagebtn"
                    class=" layui-btn layui-btn-normal  layui-btn-sm">私信up
            </button>
        </div>
        <br>

        <div style="display:none;width: 50%;min-width: 300px;" id="messdiv">
            <textarea id="messagearea" class="layui-textarea"></textarea>
            <button id="send" style="float: right" class="layui-btn layui-btn-sm">发送</button>
            <button id="cancel" style="float: right;margin-left: 10px"
                    class="layui-btn layui-btn-warm layui-btn-sm">取消
            </button>
        </div>
        <hr>
        <div class="block" style="width: 100%;">
            <label>项目进展</label>
            <hr>
            <p th:text="${project.evolve}">创意阶段</p>
            <br>
            <br>
            <label>项目概述</label>
            <hr>
            <div id="survey">
            </div>
            <br>
            <br>
            <label>备注</label>
            <hr>
            <p th:text="${project.remark}">创意阶段</p>
            <br>
        </div>
        <div th:classappend="${session.teacher}!=null or ${session.admin}!=null ? 'ldyHide' : ''" class="block" style="width: 100%;">
            <label>评论</label>
            <hr>
            <div id="commentblock" style="margin-bottom: 20px; max-height:400px;overflow-y:scroll;">
                <div th:each="comment:${comments}">
                    <p th:text="${comment.cotent}">这个好</p>
                    <br>
                </div>
            </div>
            <div>
                <textarea id="comment" placeholder="评论" class="layui-textarea"></textarea>
                <br>
                <button id="commentsub" class="layui-btn">提交</button>
            </div>
        </div>
        <div th:replace="indexTemplates/logincard"></div>
        <script th:inline="javascript">
            $(function () {
                var id =/*[[${project.id}]]*/1;
                var survey =/*[[${project.survey}]]*/"";
                console.log(survey);
                document.getElementById("survey").innerHTML = survey;
                $("#messagebtn").click(function () {
                    $("#messdiv").css("display", "block")
                });
                $("#cancel").click(function () {
                    $("#messdiv").css("display", "none")
                });
                $("#commentsub").click(function () {
                    var comment = $("#comment").val();
                    if (comment == null || comment.length == 0 || comment == "") {
                        alert("信息未填写完整");
                        return;
                    }
                    $.ajax({
                        url: "/comment?id=" + id + "&comment=" + comment,
                        success: function (msg) {
                            console.log(msg);
                            if (msg == "200") {
                                var html = $("<p>" + comment + "</p><br>");
                                $("#commentblock").prepend(html);
                                alert("评论成功");
                            } else {
                                show();
                            }
                        }
                    });
                });
                $("#send").click(function () {
                    var mess = $("#messagearea").val();
                    if (mess == null || mess.length == 0 || mess == "") {
                        alert("信息未填写完整");
                        return;
                    }
                    $.ajax({
                        url: "/privateletter?pid=" + id + "&mess=" + mess,
                        success: function (msg) {
                            console.log(msg);
                            $("#messdiv").css("display", "none");
                            if (msg != 200) {
                                show();
                            } else {
                                alert("发送成功");
                            }
                        }
                    });
                });
                var isCollect =/*[[${isCollect}]]*/"0";
                if (isCollect == "1") {
                    $("#colecbtn").css("background", "yellow");
                }
                $("#colecbtn").click(function () {
                    if (isCollect == "0") {
                        $.ajax({
                            url: "/collectProject?pid=" + id,
                            success: function (msg) {
                                console.log(msg);
                                if (msg != 200) {
                                    show();
                                } else {
                                    $("#colecbtn").css("background", "yellow");
                                }
                            }
                        });
                    } else if (isCollect == "1") {
                        alert("已收藏");
                    }
                });
            });
        </script>
        <!-------------------------------正文结束-------------------------------------->
        <div th:replace="indexTemplates/footer"></div>
    </div>
</div>
</body>
</html>