<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>信息发布</title>
    <!-- <div th:replace="indexTemplates/head"></div> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <link rel="stylesheet" href="css/bootstrap.min.css" >
    <link rel="stylesheet" href="layui/css/layui.css">
    <link rel="stylesheet" href="summernote/summernote.css">
</head>
<body>
<div th:replace="indexTemplates/nav"></div>
<br>
<div>
<form id="form" action="/submitRec" method="post">
    <div>
        <a style="color: red;" href="/publishEntrep.html">发布创业资讯或政策</a>
    </div>
    <div>
        <label>*标题</label>
        <div>
            <input type="text" class="form-control" id="title" name="title" placeholder="请输入标题">
        </div>
    </div>
    <div>
        <label>*招聘单位</label>
        <div>
            <input type="text" class="form-control" id="employer" name="employer" placeholder="招聘单位">
        </div>
    </div>
    <div id="radioGroup">
        <label>*类别</label>
        <label style="margin-left: 50px">招聘信息</label>
        <input type="radio" class="quality-radio" name="quality" value="招聘" title="招聘">
        <label style="margin-left: 50px">实习信息</label>
        <input type="radio" class="quality-radio" name="quality" value="实习" title="实习">
        <label style="margin-left: 50px">宣讲/双选会</label>
        <input type="radio" class="quality-radio" name="quality" value="宣讲" title="宣讲">
    </div>
    <div id="preach" style="display: none">
        <div>
            <label>宣讲时间</label>
            <div>
                <input type="text" class="form-control" id="preachTime" name="preachTime" placeholder="宣讲时间">
            </div>
        </div>
        <div>
            <label>宣讲地址</label>
            <div>
                <input type="text" class="form-control" id="preachSite" name="preachSite" placeholder="宣讲地址">
            </div>
        </div>
    </div>
    <div>
        <label>联系方式</label>
        <div>
            <input type="text" class="form-control" style="width: 32%;float: left;margin-right: 2%" id="tel" name="tel"
                   placeholder="电话">
            <input type="text" class="form-control" style="width: 32%;float: left;margin-right: 2%" id="email" name="email"
                   placeholder="简历申请邮箱">
            <input type="text" class="form-control" style="width: 32%" id="unisite" name="unisite" placeholder="单位网址">
        </div>
    </div>
    <div>
        <label>工作地点</label>
        <div>
            <input type="text" class="form-control" id="worksite" name="worksite" placeholder="工作地点">
        </div>
    </div>
    <div>
        <label>招聘岗位</label>
        <div style="margin-left:80px; ">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>*岗位名称</th>
                    <th>学历要求</th>
                    <th>专业要求</th>
                    <th>需求人数</th>
                    <th>薪资</th>
                </tr>
                </thead>
                <tbody id="job-table">
                <tr>
                    <td><input type="text" class="table-input" name="postname"></td>
                    <td><input type="text" class="table-input" name="education"></td>
                    <td><input type="text" class="table-input" name="profess"></td>
                    <td><input type="text" class="table-input" name="numberpost"></td>
                    <td><input type="text" class="table-input" name="salary"></td>
                </tr>
                </tbody>
            </table>
            <button id="addjob-btn" type="button" class="layui-btn layui-btn-normal">增添岗位</button>
        </div>
    </div>
    <div>
        <label>详情</label>
        <div>
            <textarea  id="summernote" name="editordata" ></textarea>
        </div>
    </div>
    <div>
        <br>
        <p style="color: red">注：“*”号标注的为必填项</p>
        <button onclick="checkvalue()" type="submit" id="submit" class="layui-btn layui-btn-fluid">发布</button>
    </div>
</form>
</div>
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="js/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="js/npm.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="layui/layui.all.js"></script>
<script src="summernote/summernote.js"></script>
<script src="js/publish.js"></script>
<script th:inline="javascript">
    msg=/*[[${msg}]]*/"";
    if(msg=="200"){
        alert("发布成功");
    }else if(msg=="201"){
        alert("有“*”号字段未填");
    }
</script>
</body>
</html>