<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="indexTemplates/head"></head>
<title>讯息发布</title>
<body>
<!-- header-section-starts -->
<div class="container">
    <div class="news-paper">
        <div th:replace="indexTemplates/nav"></div>
        <!-------------------------------正文开始-------------------------------------->
        <div>
            <form id="form" action="/submitEntrep" method="post">
                <div>
                    <a style="color: red;" href="/publishRec.html">发布招聘、实习或宣讲</a>
                </div>
                <div>
                    <label>*标题</label>
                    <div>
                        <input type="text" class="form-control" id="title" name="title" placeholder="请输入标题">
                    </div>
                </div>
                <div id="radioGroup">
                    <br>
                    <label>*类别</label>
                    <label style="margin-left: 50px">创业资讯</label>
                    <input type="radio" class="quality-radio" name="quality" value="资讯">
                    <label style="margin-left: 50px">创业政策</label>
                    <input type="radio" class="quality-radio" name="quality" value="政策">
                </div>
                <div>
                    <label>*详情</label>
                    <div th:replace="indexTemplates/summernote">
                    </div>
                </div>
                <div>
                    <br>
                    <p style="color: red">注：“*”号标注的为必填项</p>
                    <button type="submit" id="submit" class="layui-btn layui-btn-fluid">发布</button>
                </div>
            </form>
        </div>
        <!-------------------------------正文结束-------------------------------------->
        <div th:replace="indexTemplates/footer"></div>
    </div>
</div>
</body>
</html>